.parallax .c-1{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-2{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-3{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-4{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-5{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-6{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-7{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-8{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-9{
    height: 100px; 
    width: 100px ; 
}
.parallax .c-10{
    height: 100px; 
    width: 100px ; 
}
