.animate-spin-custom-big{
    animation : spin-clockwise 4s linear infinite;
}
.animate-spin-custom-small{
    animation : spin-anticlockwise 1.5s linear infinite;
}
.animate-spin-custom-anti-medium{
    animation : spin-anticlockwise 2s linear infinite;
}
.gear_1{
    /* smallest Gear */
 position: absolute;
 bottom : 20px;
 right : -100px;
}
.gear_2{
  /* empty not required */
}

.gear_3{
/* Medium gear */

position: absolute;
bottom:-45px;
right : -60px ; 
}
.gears-container{
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.gears{
    height: 200px;
    width:200px;
    display:flex ; 
    position: relative;
    justify-content: center;
    align-items: center;
}
 @keyframes spin-clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes spin-anticlockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }

.maintenance{
    font-family: Rosmatica , sans-serif;
    font-size : 2rem;
    color : white; 
    padding-top: 60px;
    text-transform: uppercase;
}

.desc{
    font-family: Rosmatica , sans-serif;
    font-size : 1rem;
    color : white; 
    margin : 0px 40px;
    
}
  