.glasscard div .image-container img{
    height:80px;
    width: 80px;
    border-radius: 50%;
}
.glasscard div .image-container{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255,50,50,0.08); */
   
    transition: all 0.3s ease-in-out;
    /* opacity : 0.5; */
    box-shadow: 0px 0px 6px 3px rgb(33 33 33 / 6%);
    animation:services-logo-animate 8s infinite ease-in-out ;

}
.glasscard:hover div .image-container{
    /* background-color:rgba(255,50,50,0.07); */
    

    /* opacity:0.4; */
}
.glasscard{
  /* box-shadow:0px 0px 5px #ffffff; */
  /* backdrop-filter: blur(10px); */
  /* background: rgba(37, 37, 37, 0.3); */ 
  /* uncommetnt box shadow and background for card design 1 */
  border-radius: 14px;
  margin:10px;
  
  
}


.glasscard div h3{

    margin-top : 1rem;


}

/* .glasscard div ~ p{
    margin : 0 4rem;
    text-align: center;
    font-size : 0.5rem;
    color:white;

} */

.glasscard div p{
   margin-top:.5rem;
   color:   var(--snippet-color)
}


@keyframes services-logo-animate{
    0%{
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }
    30%{

        border-radius: 42% 58% 25% 75% / 62% 49% 51% 38% 
    }


    50%{
        border-radius:50%;
    }
    70%{

        border-radius: 42% 58% 25% 75% / 62% 49% 51% 38% 
    }

    100%{
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        
    }
  }