.testimonial {
  height: 500px;
  width: 350px;
  border-radius: 15px;
  /* background-color: black; */
  position: relative;
  z-index: 5;
  padding: 40px 30px;
  margin: 10px 10px;
  /* box-shadow: inset 0 2px 2px 5px #ffffff8a;
  background-color: linear-gradient(
    to bottom,
    rgb(255, 247, 247) 0%,
    rgb(39, 39, 39) 100%
  ); */
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 10px 10px 40px  rgba(255,255, 255, 0.5);
  -webkit-backdrop-filter: blur(16.5px);
  backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.circle-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top : 80%;
    left: 10%;
    z-index: 0;
    opacity: 60%;
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(100px);
}


@media only screen and (max-width: 600px) {
  .circle-1 {
    visibility: hidden;
  }
}
.circle-2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top : 100px;
    background-color: white;
    z-index: 2;
}
@media only screen and (max-width: 600px) {
  .circle-2 {
   visibility: hidden;
  }
}

.circle-3{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top:60%;
    left : 80%;
    background-color: white;
    z-index: 1;
    visibility: visible
}

@media only screen and (max-width: 600px) {
  .circle-3 {
    width: 300px;
    height: 300px;
    opacity: 90%;
    border-radius: 50%;
    position: absolute;
    top : 30%;
    left : -50%;
    visibility: visible;
    background-color: white;
    z-index: 0;   
  }
}

.circle-4{
    width: 150px;
    height: 150px;

    border-radius: 50%;
    position: absolute;
    top : 50%;
    right:30%;
    background-color: white;
    z-index: 1;
    opacity: 50%;
    transition: all 1s ease-in-out;
}
.circle-4 :hover{
    width: 150px;
    height: 150px;
    
    border-radius: 50%;
    position: absolute;
    top : 50%;
    right:30%;
    background-color: white;
    z-index: 1;
    opacity: 50%;
    transform : translateX(450px);
}
@media only screen and (max-width: 600px) {
  .circle-4 {

    width: 300px;
    height: 300px;
    opacity: 90%;
    border-radius: 50%;
    position: absolute;
    top : 10%;
    right : -50%;
    background-color: white;
    z-index: 0;   
  }
}

.circle-5{
    width: 300px;
    height: 300px;
    opacity: 90%;
    border-radius: 50%;
    position: absolute;
    top : 2%;
    left : 10%;
    background-color: white;
    z-index: 0;   
}

@media only screen and (max-width: 600px) {
  .circle-5 {
    visibility: hidden;
    width: 100px;
    height: 100px;
    opacity: 90%;
    border-radius: 50%;
    position: absolute;
    top : 2%;
    left : 10%;
    background-color: white;
    z-index: 0;   
  }
}


.client-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.client-container .name {
  color: white;
}
.client-container .designation {
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 2px 30px 2px;
  height: 150px;
  width: 150px;
  /* border: 1px solid white; */
  background-color: rgb(109, 100, 100);
  overflow: hidden;
  box-shadow: inset 0 0 10px white;
}
.image-container img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.rating .star {
  height: 30px;
  width: 30px;
}

.content {
  margin-top: 20px;
  position: relative;
  text-align: center;
  color: white;
  /* padding : 0 0px 25px 0;  */
}

.content .quote-start {
  height: 30px;
  width: 30px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.content .quote-end {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: -20px;
  right: -20px;

  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}
