
.wrapper {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background: linear-gradient(90deg, #1d1d1d 0%, #424242 100%);
  /* background: linear-gradient(#e66465, #9198e5); */
}

.wrapper__h2 {
  font-family: poppins;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.box div {
  position: absolute;
  opacity: 0.7;
  background-color: gray;
  /* border: 6px solid rgba(255, 255, 255, 0.8); */
  border-radius: 15px;
}

.box div:nth-child(1) {
  top: 100%;
  left: 42%;
  width: 70px;
  height: 70px;
  animation: animate 13s linear infinite;
  animation-fill-mode: backwards;
}
.box div:nth-child(2) {
  top: 100%;
  left: 60%;
  width: 50px;
  height: 50px;
  animation: animate 15s linear infinite;
  animation-delay: 1s;
}

.box div:nth-child(3) {
  top: 100%;
  left: 80%;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  animation: animate 20s linear infinite;
}

.box div:nth-child(4) {
  top: 100%;
  left: 20%;
  width: 70px;
  height: 70px;
  animation: animate 8s linear infinite;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.box div:nth-child(5) {
  top: 100%;
  left: 10%;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  animation: animate 25s linear infinite;
}

.box div:nth-child(6) {
  top: 100%;
  left: 80%;
  width: 80px;
  height: 80px;
  animation: animate 6s linear infinite;
  animation-fill-mode: backwards;
}

.box div:nth-child(7) {
  top: 100%;
  left: 30%;
  height: 60px;
  width: 60px;
  animation: animate 8s linear infinite;
  animation-delay: 5s;
}

.box div:nth-child(8) {
  top: 100%;
  left: 70%;
  height: 100px;
  width: 100px;
  animation-delay: 4s;
  /* background-color: red; */
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 100%;
  left: 42%;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  /* background-color: red; */
  animation: animate 25s linear infinite;
  animation-delay: 4s;
}

.box div:nth-child(10) {
  top: 100%;
  left: 50%;
  height: 60px;
  width: 60px;
  animation: animate 12s linear infinite;
  animation-delay: 4s;
}

.box div:nth-child(10) {
  top: 100%;
  left: 10%;
  height: 90px;
  width: 90px;
  animation: animate 8s linear infinite;
  animation-delay: 6s;
}

@keyframes animate {
  0% {
    transform: scale (1) translateY(-20px) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-700px) rotate(360deg);
    opacity: 0;
  }
}
