@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  /* position: relative; */
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
 opacity:100%;
}
.circle-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top : 80%;
    left: 10%;
    z-index: 0;
    /* opacity: 60%; */
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(50px);
}


@media only screen and (max-width: 600px) {
  .circle-1 {
    visibility: hidden;
  }
}
.circle-2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top : 100px;
    /* background-color: white; */
    z-index: 2;
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(55px);
}
@media only screen and (max-width: 600px) {
  .circle-2 {
   visibility: hidden;
  }
}

.circle-3{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top:60%;
    left : 80%;
    z-index: 1;
    visibility: visible;
    background-color: white;
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(70px);
}

@media only screen and (max-width: 600px) {
  .circle-3 {
    width: 300px;
    height: 300px;
    opacity: 100%;
    border-radius: 50%;
    position: absolute;
    top : 30%;
    left : -50%;
    visibility: visible;
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(70px);
    z-index: 1;   
  }
}

.circle-4{
    width: 150px;
    height: 150px;

    border-radius: 50%;
    position: absolute;
    top : 50%;
    right:30%;
    background-color: white;
    z-index: 1;
    opacity: 100%;
    transition: all 1s ease-in-out;

    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(70px);
}
.circle-4 :hover{
    width: 150px;
    height: 150px;
    
    border-radius: 50%;
    position: absolute;
    top : 50%;
    right:30%;
    background-color: white;
    z-index: 1;
    opacity: 50%;
    transform : translateX(450px);
}
@media only screen and (max-width: 600px) {
  .circle-4 {

    width: 300px;
    height: 300px;
    opacity: 100%;
    border-radius: 50%;
    position: absolute;
    top : 10%;
    right : -50%;
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(70px);
    z-index: 0;   
  }
}

.circle-5{
    width: 300px;
    height: 300px;
    opacity: 50%;
    border-radius: 50%;
    position: absolute;
    top : 2%;
    left : 10%;
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(70px);
    z-index: 0;   
}

@media only screen and (max-width: 600px) {
  .circle-5 {
    visibility: hidden;
    width: 100px;
    height: 100px;
    opacity: 90%;
    border-radius: 50%;
    position: absolute;
    top : 2%;
    left : 10%;
    background-color: linear-gradient(to bottom , 
    #fa39ad 40% , #fe6c4c 50%);
    filter: blur(70px);
    z-index: 0;   
  }
}

.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color:transparent;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: greenyellow;
  color: greenyellow;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
  color:lightblue;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.8rem;
  color: greenyellow;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
