.hovercard_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}
.hovercard_card {
  background-color: var(--main-menu);
  /* background-color: black; */
  position: relative;
  max-width: 300px;
  height: 215px;
  /* background-color: #fff; */
  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

  transition: 0.3s ease-in-out;
  border-radius: 0px 0px 10px 10px;
}
.hovercard_card:hover {
  height: 320px;
}

.hovercard_image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  /* left: 8px; */
  z-index: 1;
  /* border-radius: 50px; */
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
  /* background-color: black; */
}

.hovercard_image_img {
  /* border-radius: 50px; */
  border-radius:  10px 10px 0px 0px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
}

.hovercard_content {
  position: relative;
  /* position:absolute;
  inset: 0; */
  top: -40%;
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.hovercard_card:hover .hovercard_content {
  margin-top: -10px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

.card_para {
  background-color: #000000;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -30%;
  width: 80%;
  transition: 0.3s ease-in-out;
  border-radius: 25px;
  border: 1px solid white;
}
.hovercard_card:hover .card_para {
  visibility: hidden;
  opacity: 0;
}

.hovercard_content h3 {
  font-family: "raleway";
  font-weight: bold;
  visibility: visible;
  opacity: 1;
  color: white;
  text-transform: uppercase;
}

.hovercard_content p {
  font-family: "raleway";
  visibility: visible;
  opacity: 1;
  color: white;
}

.hovercard_content button {
  text-transform: uppercase;
}

.hovercard_content a {
  /* background-color: blue; */
  color: white;
  background-color: var(--main-menu);
  text-transform: uppercase;
  text-align: center;
  padding: 4px 8px;
  /* margin-top: 4px; wont work inline*/ 
  border-radius: 25px;
  border: 1px solid white;
 
  /* margin-top doesnt work on a tag because it's an inline element */
}

.hovercard_content a:hover {
  color: #255784;
  background: linear-gradient(
    0deg,
    #78aefa 0%,
    #009ffd 30%,
    #009ffd 60%,
    #76adfa 100%
  );
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  /* transition-delay: 1s; */
}

/* 
This issue is known as Margin Collapse and happens sometimes between top and bottom margins on block elements. That's why the margin doesn't work on the p tag. To make it work here an option is to use padding-top on the p tag. And on the a tag the margin doesn't work because it's an inline element*/

.a_container {
    /* height: 40px; */
    
  margin-top: 30px;
}
