.admin-links {
    transition: 0.2s;
}

.admin-links:hover {
    background: linear-gradient(0deg, #78aefa 0%, #009FFD 30%, #009FFD 60%,
            #76adfa 100%);
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    /* transition-delay: 1s; */
}