body{
    scroll-snap-type: y mandatory;
    scroll-behavior : smooth;
    margin: 0px 10px;
}

section{
    height: 100vh;
    scroll-snap-align:center;
}
*{
    padding : 0 ; 
    margin : 0 ; 
    box-sizing: border-box;
    font-family : "DM Sans" , sans-serif;
}

body{
    background-color: #0c0c1d;
    color : lightgray;

}

.course{
    height : 100vh ; 
    display: flex; 
    align-items: center;
    justify-content: center;
    .box{
        width : 200px; 
        height : 200px; 
        background-color: white;
    }
}