@tailwind base;
@tailwind components;
@tailwind utilities;

/* *,
::before,
::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
} */


/* font-family: 'Abril Fatface', cursive;
font-family: 'Alata', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Gemunu Libre', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Varela Round', sans-serif;
   */

   @font-face{
    font-family: Agustina_400;
    src: url('Agutina400.woff2');
  }
@font-face{
  font-family: Rosmatica;
  src: url('/rosmatika-font/RosmatikaRegular-BWA45.ttf');
}
@font-face{
  font-family: Agustina;
  src: url('/AgustinaDemo.ttf');
}
.logo{
  font-family: 'Agustina_400','sans-serif';
}

:root{
  --primary-light : '#ffffff'
  --body-font: 'Raleway', Arial, sans-serif;
  --title-font: 'Raleway', Arial, sans-serif;
  --meta-font: 'Raleway', Arial, sans-serif;
  --text-font: 'Raleway', Arial, sans-serif;
  --main-logo-text-color: #d4d4d4;
    --all-link-color: rgba(255,255,255,.7);
    --body-color-main: #292929;
    --main-menu: #383838;
    --text-font-color: #d3d3d3;
    --shadow-top: none;
    --cloud-border-color: rgb(100 100 100 / 0.66);
    --cloud-bg-color: #ffffff;
    --koOiIliI-sypemenu-bg: #212121;
    --input-form: rgb(112 112 112 / 0.34);
    --shadow-top-fixed: none;
    --white-label-color: #464646;
    --main-menu-text-color: #dadada;
    --search-bt-text: #b5b5b5;
    --sub-menu-text-color: #dadada;
    --title-share: #dddddd;
    --black-color: #d9d9d9;
    --title-share-fa: #dddddd;
    --front-bg-lists: #292929;
    --box-shadows: transparent;
    --bt-home: #212121;
    --sticky-lists: #212121;
    --main-menu-bg: #232323;
    --post-snip-open: #eee;
    --paint-cards: #292929;
    --footer-gadgets-title: #c3c3c3;
    --footer-title-color: #adadad;
    --sticky-bg: #212121;
    --placeholder-text-color: #dadada;
    --theme-text-color: #dadada;
    --featured-gadgets-title: #dadada;
    --ads-bg: #212121;
    --color-section: #1d1d1d;
    --color-section1: #424242;
    --footer-copyright-bg: #181818;
    --box-posts-share: #323232;
    --submenu-bg-color: #212121;
    --label-text-color: #a1a1a1;
    --featured-posts-title: #c3c3c3;
    --ads-text: #dadada;
    --buttons-category-text: #dadada;
    --bg-cards: #212121;
    --block-bg: #3a3a3a;
    --black-text: #f3f8fb;
    --post-snip-data: #a5a5a5;
    --comments-dec: #cecece;
    --comment-content: #353535;
    --comment-text: #c1c1c1;
    --footer-bg-color: #181818;
    --footer-text-color: #E4E4E4;
    --cm-count: #E4E4E4;
    --main-text-color: #E4E4E4;
    --koOiIliI-nav-text: #c3c3c3;
    --share-author-links: #E4E4E4;
    --footer-copyright-bg: #292929;
    --body-font: 'Raleway', Arial, sans-serif;
    --title-font: 'Raleway', Arial, sans-serif;
    --meta-font: 'Raleway', Arial, sans-serif;
    --text-font: 'Raleway', Arial, sans-serif;
    --text-font-color: #505050;
    --runs-solid-color: #c1bbbb;
    --black-color: #404040;
    --hero-color: #aaaaaa;
    --main-menu-bg: linear-gradient(45deg, #e07c03, #cdb202);
    --snippet-color: #aba4a4;
    --solid-border: #ddd;
    --featured-posts-title: #333333;
    --button-bg-color: #f4961e;
    --button-text-color: #ffffff;
    --lables-buttons-color: #f4961e;
    --lables-text-color: #ffffff;
    --email-bg-color: #0723eb;
    --email-text-color: #ffffff;
    --cloud-bg-color: #f4961e;
    --cloud-border-color: #f4961e;
    --list-text-color: #333333;
    --theme-text-color: #3e3e3e;
    --featured-gadgets-title: #e8e8e8;
    --placeholder-text-color: #3e3e3e;
    --main-menu-text-color: #ffffff;
    --sub-menu-text-color: #3a3a3a;
    --footer-title-color: #e8e8e8;
    --footer-copyright-bg: #0e151d;
    --body-color-main: #f4f4f4;
    --all-link-color: #112b3e;
    --black-text: #343434;
    /* --main-text-color: #101010; */
    --koOiIliI-sypemenu-bg: #ffffff;
    --white-bg: #ffffff;
    --block-bg: #ffffff;
    --paint-cards: #f7faff;
    --featured-posts-title-featured: #ffffff;
    --white-label-color: #ffffff;
    --color-section: #e07c03;
    --color-section1: #cdb202;
    --color-section-text: #ffffff;
    --bg-cards: #ffffff;
    --bg-cards-video: #121212;
    --bg-cards-shadow: 0px 3px 3px 0 rgb(33 33 33 / 0.03);
    --bt-breaking: rgba(0 0 0 / 0.08);
    --bt-breaking-text: #626262;
    --shadow-top: 0 0 20px rgba(0,0,0,.15);
    --shadow-top-fixed: 5px 5px 8px 0px rgba(224 223 223 / 0.48);
    --ads-bg: rgb(143 183 255 / 0.20);
    --ads-text: #898989;
    --buttons-category-text: #1d1d1d;
    --snip-text-color: #eeeeee;
    --search-bt-text: #333333;
    --comments-dec: #333;
    --sticky-bg: #f1f1f1;
    --input-form: transparent;
    --footer-email-title: #ffffff;
    --bt-home: #f2f7fb;
    --cm-count: #555555;
    --shadow-light: 0px 2px 5px 1px rgb(0 0 0 / 0.10);
    --koOiIliI-nav-text: #4e4e4e;
    --sticky-lists: #f7fcff;
    --post-snip-data: #707070;
    --post-snip-open: #383838;
    --ico-relative: #ff0000;
    --front-bg-lists: #fff;
    --share-author-links: #585858;
    --box-posts-share: #f1f1f1;
    --title-share: #1c1c1c;
    --title-share-fa: #5c5c5c;
    --footer-text-color: #d7d7d7;
    --footer-about-text: #868686;
    --footer-bg-color: #15202b;
    --footer-gadgets-title: #e8e8e8;
    --main-logo-text-color: #222222;
    --submenu-bg-color: #ffffff;
    --comment-content: #f6f6f6;
    --comment-text: #5e5e5e;
    --label-text-color: #2c2c2c;
    --pager-text-color: #6d6d6d;
    --back-top: rgb(90 90 90 / 0.18);
    --box-shadows: rgb(102 102 102 / 0.13);
}
#pbar::after{
 content : "";
 position: absolute;
 right : 0px ; 
 bottom : -3px;
 height: 10px;
 width:  10px;
 border-radius: 50px;
 background-color: white;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 1020px) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
  }
}

.active {
  @apply border-b-4 border-softRed;
}

@mixin shrinklabel {
  top: -14px;
  font-size: 12px;
  color: white;
}

/* For button to Top */

.btn {
  @apply max-h-[80%] font-bold  transition-all duration-200 ease-linear hover:cursor-pointer;
}
.btn-group {
  @apply ml-auto flex flex-row gap-3 px-10;
}
.rocket{
  opacity: 0;
  visibility: hidden;
  position:fixed; 
  bottom : 2rem; 
  right: 2rem; 
  
  z-index: 10;
}
.whatsapp{
  opacity: 0;
  visibility: hidden;
  position:fixed; 
  bottom : 6rem; 
  right: 2rem; 
  
  z-index: 10;
}
.fade-in-image{
  
  visibility: visible;
  /* animation : fadeIn 0.5s ease-in-out; */
  transition:visibility 0s, opacity 0.5s ease-in-out 0s;
  opacity: 1
}
.fade-out-image{

  /* animation : TakeOffAndFadeOut 1s fadeOut 0.5s 1s; */
  transition : visibility 0s ease-in-out 2s , opacity 1s ease-in-out 0s;
  visibility:hidden;
  opacity : 0; 
}

.btnTop{
  @apply relative flex  rounded-3xl transition-all duration-300
  ease-linear bg-green-300 first-letter:text-green-500  items-center 
  justify-center h-12 w-12 my-2 mx-auto shadow-lg ;

}

.btnTop:hover{
  @apply  rounded-full
}

.btnTop-tooltip{
  @apply  hidden md:flex absolute py-2 px-5 w-auto right-20 bg-green-300 shadow-md rounded-md 
  text-white text-lg font-bold transition-all duration-200  min-w-max scale-0
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  right: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
  border-radius: 30px;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
  background: #fff;
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(7px) translateX(7px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(7px) translateX(-8px);
}

/* .newsletter{
    position:relative; 

 }
 .newsletter::before{
    content: "Enter Email";
    position: absolute;
    top:14px ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    left : 10px; 
 }
 /* .newsletter */

/* .newsletter input[type="text"]:active {

   
 } */

.groupInp {
  position: relative;
  margin: 0px 5px;
}

.groupInp .form-input {
  background: none;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border-radius: 30px;
  width: 100%;
  border: none;
  /* border-radius : 0;  */
  border-bottom: 1px solid grey;
  /* margin :25px 0;  */
}

.groupInp .form-input:focus {
  outline: none;
}
.groupInp .form-input:focus ~ .form-input-label {
  top: -30px;
  font-size: 12px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 14px;
  top: 10px;
  transition: 300ms ease all;
}

.form-input-label.shrink {
  top: -30px;
  font-size: 12px;
  color: white;
  font-family: "Open Sans", sans-serif;
  opacity: 0;
}

/* .nav-link a {
  display: block;
  background-color: white;
  padding: 2rem 0;
} */
.nav-link-active{
  background-color : white ; 
  border-radius: 20px;
  padding : 4px 10px; 
}
.mobile-nav {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* transform : translateX(-100px) */
}
.mobile-nav-link a{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
    transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mobile-nav-link  a:hover{
    color : #777777;
}

.mobile-nav-link:nth-of-type(1)  {
  
    transition-delay: 1s;
  }
  
.mobile-nav-link:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  
 .mobile-nav-link:nth-of-type(3) {
    transition-delay: 0.3s;
  }
  
  .mobile-nav-link:nth-of-type(4) {
    transition-delay: 0.4s;
  }
  
 .mobile-nav-link:nth-of-type(5) {
    transition-delay: 0.5s;
  }
.mobile_open {
  visibility: visible;
  /* animation : fadeIn 0.5s ease-in-out; */
  /* transition:visibility 0s, opacity 0.5s ease-in-out 0s; */
  opacity: 1;
  
  transform: translateX(0);
  animation-name : slide-right ;
  animation-duration :3s;
}

.mobile_close {
  /* transition : visibility 0s ease-in-out 2s , opacity 1s ease-in-out 0s; */
  visibility: hidden;
  opacity: 0;
  animation: slide-right 1s ease-in-out;
  /* transform : scaleX(0); */
  transform : translateX(-800px)
}

.burger-animate {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes b-animate-start {
  0% {
    right: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5rem);
  }
}


/* Contact Us Button */
.contact-button a{
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 50px;
}

.contact-button a:hover{
    color: #255784;
    background: linear-gradient(
      0deg,#78aefa  0%,  #009FFD 30%,#009FFD 60%,
      #76adfa 100%
    );
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    /* transition-delay: 1s; */
}
.sub-title{
  position: relative;
  opacity: 0.6;
}

/* SUB TITLE BOTTOM MARGIN */
.sub-title::after{
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: -20%;
  background-image: linear-gradient(to right,rgb(255 255 255 / 0),var(--button-bg-color),rgba(0,0,0,0));
  content: "";
  height: 2px;
  width: 38%;

}

/* NEWSLETTTER  */

.newsletter img{
  height: 100%;
  width: 100%;
  mix-blend-mode:screen;
  position: absolute;
}



/* BLOGS */
.blog-header{
  position: relative;
}
.blog-header::after{
  content : " ";
  position: absolute;
  right : -80% ; 
  top: 50%;
  height: 6px ; 
  width : 150px;
  background: linear-gradient(0deg , white 0% , black 100%)
}
@media only screen and (max-width: 600px) {
  .blog-header::after {
    content : " ";
    position: absolute;
    right : -80% ; 
    top: 50%;
    height: 6px ; 
    width : 100px;
    background: linear-gradient(0deg , white 0% , black 100%);
    visibility: hidden;
  }
}
.blog-header::before{
  content : " ";
  position: absolute;
  left : -80% ; 
  top: 50%;
  height: 6px ; 
  width : 150px;
  background: linear-gradient(0deg , white 0% , black 100%);

}

@media only screen and (max-width: 600px) {
  .blog-header::before {
    content : " ";
    position: absolute;
    left : -80% ; 
    top: 50%;
    height: 6px ; 
    width : 100px;
    background: linear-gradient(0deg , white 0% , black 100%);
    visibility: hidden;
  }
}


.seperator {
  content : "";
  margin-top : 20px;
  position: relative;
  width: 80%;
  height: 2px;
  background-color: white ;
}


/* FAQ sections */
.faq-sections:nth-last-child(){
    padding-bottom: 24px;
}

::-webkit-scrollbar{
  width:0.5rem;

}

::-webkit-scrollbar-track{
  background-color: black;
  border-radius: 50px;
 
}

::-webkit-scrollbar-thumb{
  background-color : rgb(8, 240, 8);
  border-radius: 1rem;
  border : 1px solid transparent ;
  background-clip : content-box;
}

.button-inner-shadow{
  box-shadow:  inset-0 0px 0px 5px 10px black;
}