@tailwind base;
@tailwind components;
@tailwind utilities;

/* *,
::before,
::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
} */


/* font-family: 'Abril Fatface', cursive;
font-family: 'Alata', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Gemunu Libre', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Varela Round', sans-serif;
   */

@font-face{
  font-family: Rosmatica;
  src: url('./assets/rosmatika-font/RosmatikaRegular-BWA45.ttf');
}
.logo{
  font-family: 'Rosmatica','sans-serif';
}

:root{
  --primary-light : '#ffffff'
  --body-font: 'Raleway', Arial, sans-serif;
  --title-font: 'Raleway', Arial, sans-serif;
  --meta-font: 'Raleway', Arial, sans-serif;
  --text-font: 'Raleway', Arial, sans-serif;
  --main-logo-text-color: #d4d4d4;
    --all-link-color: rgba(255,255,255,.7);
    --body-color-main: #292929;
    --main-menu: #383838;
    --text-font-color: #d3d3d3;
    --shadow-top: none;
    --cloud-border-color: rgb(100 100 100 / 0.66);
    --cloud-bg-color: #ffffff;
    --koOiIliI-sypemenu-bg: #212121;
    --input-form: rgb(112 112 112 / 0.34);
    --shadow-top-fixed: none;
    --white-label-color: #464646;
    --main-menu-text-color: #dadada;
    --search-bt-text: #b5b5b5;
    --sub-menu-text-color: #dadada;
    --title-share: #dddddd;
    --black-color: #d9d9d9;
    --title-share-fa: #dddddd;
    --front-bg-lists: #292929;
    --box-shadows: transparent;
    --bt-home: #212121;
    --sticky-lists: #212121;
    --main-menu-bg: #232323;
    --post-snip-open: #eee;
    --paint-cards: #292929;
    --footer-gadgets-title: #c3c3c3;
    --footer-title-color: #adadad;
    --sticky-bg: #212121;
    --placeholder-text-color: #dadada;
    --theme-text-color: #dadada;
    --featured-gadgets-title: #dadada;
    --ads-bg: #212121;
    --color-section: #1d1d1d;
    --color-section1: #424242;
    --footer-copyright-bg: #181818;
    --box-posts-share: #323232;
    --submenu-bg-color: #212121;
    --label-text-color: #a1a1a1;
    --featured-posts-title: #c3c3c3;
    --ads-text: #dadada;
    --buttons-category-text: #dadada;
    --bg-cards: #212121;
    --block-bg: #3a3a3a;
    --black-text: #f3f8fb;
    --post-snip-data: #a5a5a5;
    --comments-dec: #cecece;
    --comment-content: #353535;
    --comment-text: #c1c1c1;
    --footer-bg-color: #181818;
    --footer-text-color: #E4E4E4;
    --cm-count: #E4E4E4;
    --main-text-color: #E4E4E4;
    --koOiIliI-nav-text: #c3c3c3;
    --share-author-links: #E4E4E4;
    --footer-copyright-bg: #292929;
}

body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
}
@media (min-width: 1020px) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
  }
}

.active {
  @apply border-b-4 border-softRed;
}

@mixin shrinklabel {
  top: -14px;
  font-size: 12px;
  color: white;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  right: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
  border-radius: 30px;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
  background: #fff;
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(7px) translateX(7px);
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(7px) translateX(-8px);
}

/* .newsletter{
    position:relative; 

 }
 .newsletter::before{
    content: "Enter Email";
    position: absolute;
    top:14px ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    left : 10px; 
 }
 /* .newsletter */

/* .newsletter input[type="text"]:active {

   
 } */

.groupInp {
  position: relative;
  margin: 0px 5px;
}

.groupInp .form-input {
  background: none;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border-radius: 30px;
  width: 100%;
  border: none;
  /* border-radius : 0;  */
  border-bottom: 1px solid grey;
  /* margin :25px 0;  */
}

.groupInp .form-input:focus {
  outline: none;
}
.groupInp .form-input:focus ~ .form-input-label {
  top: -30px;
  font-size: 12px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 14px;
  top: 10px;
  transition: 300ms ease all;
}

.form-input-label.shrink {
  top: -30px;
  font-size: 12px;
  color: white;
  font-family: "Open Sans", sans-serif;
  opacity: 0;
}

.nav-link a {
  display: block;
  padding: 2rem 0;
}
.mobile-nav {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* transform : translateX(-100px) */
}
.mobile-nav-link a{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
    transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mobile-nav-link  a:hover{
    color : #777777;
}

.mobile-nav-link:nth-of-type(1)  {
  
    transition-delay: 1s;
  }
  
.mobile-nav-link:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  
 .mobile-nav-link:nth-of-type(3) {
    transition-delay: 0.3s;
  }
  
  .mobile-nav-link:nth-of-type(4) {
    transition-delay: 0.4s;
  }
  
 .mobile-nav-link:nth-of-type(5) {
    transition-delay: 0.5s;
  }
.mobile_open {
  visibility: visible;
  /* animation : fadeIn 0.5s ease-in-out; */
  /* transition:visibility 0s, opacity 0.5s ease-in-out 0s; */
  opacity: 1;
  transform: translateX(0);
  animation-name : slide-right ;
  animation-duration :3s;
}

.mobile_close {
  /* transition : visibility 0s ease-in-out 2s , opacity 1s ease-in-out 0s; */
  visibility: visible;
  opacity: 1;
  animation: slide-right 1s ease-in-out;
  /* transform : scaleX(0); */
  transform : translateX(-800px)
}

.burger-animate {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes b-animate-start {
  0% {
    right: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5rem);
  }
}


/* Contact Us Button */
.contact-button a{
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 50px;
}

.contact-button a:hover{
    color: #255784;
    background: linear-gradient(
      0deg,#78aefa  0%,  #009FFD 30%,#009FFD 60%,
      #76adfa 100%
    );
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    /* transition-delay: 1s; */
}